body {
  margin: 0;
  line-height: normal;
}

.group-div1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.group-div1 a.active {
  background-color: #04AA6D;
  color: white;
}

.group-div1 .icon {
  display: none;
}
.hello-im,
.malekulashtar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.malekulashtar {
  top: 20px;
  font-size: 86px;
  font-weight: 500;
  font-family: var(--font-dosis);
  color: var(--color-white);
}
.website-application {
  margin-block-start: 0;
  margin-block-end: 0;
}
.designer {
  margin: 0;
}
.website-application-develope {
  position: absolute;
  top: 133px;
  left: 0;
  font-size: var(--font-size-3xl);
  font-family: var(--font-averia-libre);
  display: inline-block;
}
.developing-applications-and-we {
  position: absolute;
  top: 224px;
  left: 0;
  font-size: 26px;
  font-family: var(--font-prompt);
  color: #343434;
  display: inline-block;
}
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 302px;
}
.get-in-touch {
  position: absolute;
  top: 15px;
  left: 43px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-prompt);
  color: #2f2e41;
  text-align: left;
  display: inline-block;
}
.frame-button {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 332px;
  left: 0;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 210px;
  height: 59px;
  overflow: hidden;
}
.contact,
.group-section {
  position: absolute;
  text-align: left;
}
.group-section {
  top: 210px;
  left: 62px;
  width: 45%;
  height: 391px;
  margin-left: 5%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-junge);
}
.contact {
  top: 10px;
  left: 20px;
  font-size: 18px;
  font-family: var(--font-junge);
  color: var(--color-white);
  display: inline-block;
}
.frame-div1 {
  position: absolute;
  top: 0;
  left: 424px;
  border-radius: var(--br-sm);
  background-color: var(--color-indigo-100);
  width: 110px;
  height: 40px;
  overflow: hidden;
}
.about,
.home,
.services,
.work {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 20px;
  font-family: var(--font-prompt);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.about,
.services,
.work {
  left: 100px;
}
.about,
.work {
  left: 231px;
}
.about {
  left: 322px;
}
.group-div1 {
  position: absolute;
  top: 0;
  left: 656px;
  width: 40%;
  height: 35px;
}
.malekulashtar1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.05em;
  font-family: var(--font-great-vibes);
  color: #7400aa;
  text-align: left;
  display: inline-block;
}
.group-nav {
  position: absolute;
  top: 42px;
  left: 10%;
  width: 90%;
  height: 50px;
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 72.04%;
  width: 55.88%;
  top: 0;
  right: 22.01%;
  bottom: 27.96%;
  left: 22.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  height: 5.23%;
  width: 100%;
  top: 75.89%;
  right: 0;
  bottom: 18.88%;
  left: 0;
}
.vector-icon2,
.vector-icon3 {
  height: 16.42%;
  width: 17.19%;
  top: 58.97%;
  right: 19.85%;
  bottom: 24.61%;
  left: 62.97%;
}
.vector-icon3 {
  height: 15.38%;
  width: 16.43%;
  top: 59.49%;
  right: 20.22%;
  bottom: 25.13%;
  left: 63.34%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 2.63%;
  width: 17.92%;
  top: 75.13%;
  right: 19.52%;
  bottom: 22.25%;
  left: 62.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8 {
  height: 0.44%;
  width: 0.53%;
  top: 75.44%;
  right: 20.23%;
  bottom: 24.12%;
  left: 79.24%;
}
.vector-icon6,
.vector-icon7,
.vector-icon8 {
  right: 21.3%;
  left: 78.17%;
}
.vector-icon7,
.vector-icon8 {
  right: 22.36%;
  left: 77.11%;
}
.vector-icon8 {
  right: 23.43%;
  left: 76.04%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon9 {
  position: absolute;
  height: 0.44%;
  width: 0.53%;
  top: 75.44%;
  right: 24.49%;
  bottom: 24.12%;
  left: 74.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 25.56%;
  left: 73.91%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 26.62%;
  left: 72.85%;
}
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 27.68%;
  left: 71.78%;
}
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 28.75%;
  left: 70.72%;
}
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 29.81%;
  left: 69.65%;
}
.vector-icon15,
.vector-icon16 {
  right: 30.88%;
  left: 68.59%;
}
.vector-icon16 {
  right: 31.94%;
  left: 67.52%;
}
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 0.44%;
  width: 0.53%;
  top: 75.44%;
  right: 33.01%;
  bottom: 24.12%;
  left: 66.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18,
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  right: 34.07%;
  left: 65.4%;
}
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  right: 35.14%;
  left: 64.33%;
}
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  right: 36.2%;
  left: 63.27%;
}
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  top: 76.17%;
  right: 20.22%;
  bottom: 23.39%;
  left: 79.25%;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  right: 21.28%;
  left: 78.18%;
}
.vector-icon23,
.vector-icon24 {
  right: 22.35%;
  left: 77.12%;
}
.vector-icon24 {
  right: 23.41%;
  left: 76.05%;
}
.vector-icon25,
.vector-icon26,
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  position: absolute;
  height: 0.44%;
  width: 0.53%;
  top: 76.17%;
  right: 24.48%;
  bottom: 23.39%;
  left: 74.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon26,
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  right: 25.54%;
  left: 73.93%;
}
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  right: 26.61%;
  left: 72.86%;
}
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  right: 27.67%;
  left: 71.8%;
}
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  right: 28.74%;
  left: 70.73%;
}
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  right: 29.8%;
  left: 69.67%;
}
.vector-icon31,
.vector-icon32 {
  right: 30.87%;
  left: 68.6%;
}
.vector-icon32 {
  right: 31.93%;
  left: 67.54%;
}
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  position: absolute;
  height: 0.44%;
  width: 0.53%;
  top: 76.17%;
  right: 33%;
  bottom: 23.39%;
  left: 66.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  right: 34.06%;
  left: 65.41%;
}
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  right: 35.12%;
  left: 64.34%;
}
.vector-icon36,
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  right: 36.19%;
  left: 63.28%;
}
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  width: 4.26%;
  top: 77.05%;
  right: 25.33%;
  bottom: 22.51%;
  left: 70.41%;
}
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  height: 0.55%;
  width: 0.76%;
  top: 62.69%;
  right: 33.71%;
  bottom: 36.77%;
  left: 65.53%;
}
.vector-icon39,
.vector-icon40 {
  right: 29.57%;
  left: 69.67%;
}
.vector-icon40 {
  right: 28.4%;
  left: 70.84%;
}
.vector-icon41,
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
  position: absolute;
  height: 0.55%;
  width: 2.64%;
  top: 62.64%;
  right: 30.7%;
  bottom: 36.81%;
  left: 66.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
  right: 25.19%;
  left: 72.17%;
}
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
  width: 0.76%;
  top: 63.92%;
  right: 32.61%;
  bottom: 35.54%;
  left: 66.64%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
  right: 28.47%;
  left: 70.77%;
}
.vector-icon45,
.vector-icon46,
.vector-icon47 {
  right: 27.3%;
  left: 71.94%;
}
.vector-icon46,
.vector-icon47 {
  width: 2.64%;
  top: 63.87%;
  right: 29.6%;
  bottom: 35.58%;
  left: 67.76%;
}
.vector-icon47 {
  right: 24.09%;
  left: 73.27%;
}
.vector-icon48,
.vector-icon49,
.vector-icon50,
.vector-icon51,
.vector-icon52,
.vector-icon53,
.vector-icon54,
.vector-icon55 {
  position: absolute;
  height: 0.55%;
  width: 0.76%;
  top: 65.15%;
  right: 31.5%;
  bottom: 34.3%;
  left: 67.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon49,
.vector-icon50,
.vector-icon51,
.vector-icon52,
.vector-icon53,
.vector-icon54,
.vector-icon55 {
  right: 27.37%;
  left: 71.87%;
}
.vector-icon50,
.vector-icon51,
.vector-icon52,
.vector-icon53,
.vector-icon54,
.vector-icon55 {
  right: 26.2%;
  left: 73.04%;
}
.vector-icon51,
.vector-icon52,
.vector-icon53,
.vector-icon54,
.vector-icon55 {
  width: 2.64%;
  top: 65.11%;
  right: 28.49%;
  bottom: 34.35%;
  left: 68.86%;
}
.vector-icon52,
.vector-icon53,
.vector-icon54,
.vector-icon55 {
  right: 22.98%;
  left: 74.37%;
}
.vector-icon53,
.vector-icon54,
.vector-icon55 {
  width: 0.76%;
  top: 66.38%;
  right: 30.4%;
  bottom: 33.07%;
  left: 68.84%;
}
.vector-icon54,
.vector-icon55 {
  right: 26.27%;
  left: 72.97%;
}
.vector-icon55 {
  right: 25.1%;
  left: 74.14%;
}
.vector-icon56,
.vector-icon57,
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  position: absolute;
  height: 0.55%;
  width: 2.64%;
  top: 66.34%;
  right: 27.39%;
  bottom: 33.12%;
  left: 69.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon57,
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  width: 0.76%;
  top: 71.28%;
  right: 29.57%;
  bottom: 28.18%;
  left: 69.67%;
}
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  right: 28.4%;
  left: 70.84%;
}
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  width: 2.64%;
  top: 71.32%;
  right: 25.19%;
  bottom: 28.13%;
  left: 72.17%;
}
.vector-icon60,
.vector-icon61 {
  width: 0.76%;
  top: 71.28%;
  right: 33.71%;
  bottom: 28.18%;
  left: 65.53%;
}
.vector-icon61 {
  width: 2.64%;
  top: 71.32%;
  right: 30.7%;
  bottom: 28.13%;
  left: 66.66%;
}
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66,
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  position: absolute;
  height: 0.55%;
  width: 0.76%;
  top: 70.05%;
  right: 32.61%;
  bottom: 29.41%;
  left: 66.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66,
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  right: 28.47%;
  left: 70.77%;
}
.vector-icon64,
.vector-icon65,
.vector-icon66,
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  right: 27.3%;
  left: 71.94%;
}
.vector-icon65,
.vector-icon66,
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  width: 2.64%;
  top: 70.09%;
  right: 29.6%;
  bottom: 29.36%;
  left: 67.76%;
}
.vector-icon66,
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  width: 0.76%;
  top: 68.82%;
  right: 31.5%;
  bottom: 30.64%;
  left: 67.74%;
}
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  right: 27.37%;
  left: 71.87%;
}
.vector-icon68,
.vector-icon69 {
  right: 26.2%;
  left: 73.04%;
}
.vector-icon69 {
  width: 2.64%;
  top: 68.86%;
  right: 28.49%;
  bottom: 30.59%;
  left: 68.86%;
}
.vector-icon70,
.vector-icon71,
.vector-icon72,
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  position: absolute;
  height: 0.55%;
  width: 0.76%;
  top: 67.58%;
  right: 30.4%;
  bottom: 31.87%;
  left: 68.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon71,
.vector-icon72,
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  right: 26.27%;
  left: 72.97%;
}
.vector-icon72,
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  right: 25.1%;
  left: 74.14%;
}
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  width: 2.64%;
  top: 67.63%;
  right: 27.39%;
  bottom: 31.82%;
  left: 69.96%;
}
.vector-icon74,
.vector-icon75 {
  height: 13.98%;
  width: 11.77%;
  top: 71.73%;
  right: 25.76%;
  bottom: 14.29%;
  left: 62.48%;
}
.vector-icon75 {
  height: 18.53%;
  width: 9.13%;
  top: 58.37%;
  right: 66.51%;
  bottom: 23.1%;
  left: 24.36%;
}
.vector-icon76,
.vector-icon77,
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  position: absolute;
  height: 2.07%;
  width: 9.19%;
  top: 76.32%;
  right: 66.48%;
  bottom: 21.61%;
  left: 24.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon77,
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  height: 35.87%;
  width: 37.56%;
  top: 30.4%;
  right: 52.45%;
  bottom: 33.73%;
  left: 10%;
}
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  height: 33.6%;
  width: 35.9%;
  top: 31.54%;
  right: 53.27%;
  bottom: 34.87%;
  left: 10.82%;
}
.vector-icon79,
.vector-icon80 {
  height: 3.13%;
  width: 21.39%;
  top: 75.33%;
  right: 61.43%;
  bottom: 21.53%;
  left: 17.18%;
}
.vector-icon80 {
  height: 0.35%;
  width: 32.7%;
  top: 35.58%;
  right: 54.88%;
  bottom: 64.07%;
  left: 12.41%;
}
.vector-icon81,
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  position: absolute;
  height: 2.13%;
  width: 1.51%;
  top: 32.55%;
  right: 84.49%;
  bottom: 65.33%;
  left: 13.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  right: 81.88%;
  left: 16.61%;
}
.vector-icon83,
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  right: 79.27%;
  left: 19.22%;
}
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  height: 0.39%;
  width: 2.13%;
  top: 32.81%;
  right: 56.44%;
  bottom: 66.81%;
  left: 41.42%;
}
.vector-icon85,
.vector-icon86 {
  top: 33.53%;
  bottom: 66.08%;
}
.vector-icon86 {
  top: 34.26%;
  bottom: 65.35%;
}
.vector-icon87,
.vector-icon88,
.vector-icon89,
.vector-icon90,
.vector-icon91 {
  position: absolute;
  height: 11.5%;
  width: 8.07%;
  top: 66.34%;
  right: 4.72%;
  bottom: 22.16%;
  left: 87.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon88,
.vector-icon89,
.vector-icon90,
.vector-icon91 {
  height: 1.59%;
  width: 5.54%;
  right: 6.59%;
  bottom: 32.07%;
  left: 87.87%;
}
.vector-icon89,
.vector-icon90,
.vector-icon91 {
  height: 1.52%;
  width: 0.89%;
  top: 71.72%;
  right: 8.23%;
  bottom: 26.77%;
  left: 90.88%;
}
.vector-icon90,
.vector-icon91 {
  top: 71.79%;
  right: 10.12%;
  bottom: 26.69%;
  left: 88.99%;
}
.vector-icon91 {
  height: 2.52%;
  width: 1.16%;
  top: 71.29%;
  right: 9.04%;
  bottom: 26.19%;
  left: 89.8%;
}
.vector-icon92,
.vector-icon93,
.vector-icon94,
.vector-icon95,
.vector-icon96 {
  position: absolute;
  height: 1.9%;
  width: 6.45%;
  top: 45.58%;
  right: 66.94%;
  bottom: 52.53%;
  left: 26.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon93,
.vector-icon94,
.vector-icon95,
.vector-icon96 {
  width: 12.99%;
  top: 49.37%;
  right: 63.67%;
  bottom: 48.74%;
  left: 23.34%;
}
.vector-icon94,
.vector-icon95,
.vector-icon96 {
  top: 53.16%;
  bottom: 44.95%;
}
.vector-icon95,
.vector-icon96 {
  height: 43.86%;
  width: 22.47%;
  top: 56.14%;
  right: 40.58%;
  bottom: 0;
  left: 36.95%;
}
.vector-icon96 {
  height: 30.08%;
  width: 9.04%;
  top: 62.95%;
  right: 58.46%;
  bottom: 6.97%;
  left: 32.5%;
}
.ellipse-icon,
.vector-icon100,
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  position: absolute;
  height: 31.9%;
  width: 9.69%;
  top: 63.02%;
  right: 33.9%;
  bottom: 5.08%;
  left: 56.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-icon,
.vector-icon100,
.vector-icon98,
.vector-icon99 {
  height: 15.57%;
  width: 11.33%;
  top: 44.30%;
  right: 45.23%;
  bottom: 45.52%;
  left: 43.45%;
}
.vector-icon100,
.vector-icon98,
.vector-icon99 {
  height: 19.34%;
  width: 14.14%;
  top: 40.60%;
  right: 43.12%;
  bottom: 45.45%;
  left: 42.74%;
}
.vector-icon100,
.vector-icon99 {
  height: 30.6%;
  width: 37.29%;
  top: 69.4%;
  right: 30.86%;
  bottom: 0;
  left: 31.85%;
}
.vector-icon100 {
  height: 22.84%;
  bottom: 7.76%;
  opacity: 0.2;
}
.undraw-programming-re-kg9v-1 {
  position: absolute;
  top: 145px;
  left: 649px;
  width: 40%;
  height: 572.26px;
  margin-left: 10%;
  overflow: hidden;
}
.frame-div,
.line-icon {
  position: absolute;
  left: 0;
}
.frame-div {
  top: 0;
  background-color: var(--color-teal);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.line-icon {
  top: 23.5px;
  width: 67.12px;
  height: 1px;
}
.better-technology-better-growt {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: var(--font-dosis);
  color: var(--color-teal);
  display: inline-block;
}
.giving-best-efforts-to-build-a {
  position: absolute;
  top: 215px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-prompt);
  color: var(--color-gray-700);
  display: inline-block;
}
.group-section1 {
  position: absolute;
  top: 54px;
  left: 52.5%;
  width: 50%;
  height: 323px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-indigo-100);
  font-family: var(--font-averia-libre);
}
.designing-and-developing-websi,
.web-development {
  position: absolute;
  top: 11px;
  left: 15px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
  font-size: var(--font-size-2xl);
}
.designing-and-developing-websi {
  top: 64px;
  left: 10px;
  font-size: var(--font-size-lg);
  font-family: var(--font-dosis);
  color: var(--color-gray-700);
  width: 250px;
}
.frame-div2 {
  position: absolute;
  top: -15px;
  left: 1px;
  border-radius: var(--br-md);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 275px;
  height: 265px;
  overflow: hidden;
}
.digital-marketing {
  position: absolute;
  top: 11px;
  left: 25px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
}
.frame-div3 {
  position: absolute;
  top: 50px;
  left: 295px;
  border-radius: var(--br-md);
  border: 3px dashed var(--color-white);
  box-sizing: border-box;
  width: 275px;
  height: 200px;
  overflow: hidden;
  color: var(--color-teal);
}
.graphic-design {
  position: absolute;
  top: 12px;
  left: 35px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
}
.frame-div4 {
  position: absolute;
  top: 274px;
  left: 0;
  border-radius: var(--br-md);
  border: 3px dashed var(--color-white);
  box-sizing: border-box;
  width: 275px;
  height: 200px;
  color: var(--color-teal);
}
.app-development {
  position: absolute;
  top: 10px;
  left: 25px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
}
.frame-div5 {
  position: absolute;
  top: 274px;
  left: 295px;
  border-radius: var(--br-md);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 275px;
  height: 260px;
  overflow: hidden;
}
.group-div2,
.group-section2 {
  position: absolute;
  height: 522px;
}
.group-section2 {
  top: 0;
  left: 5%;
  width: 40%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-indigo-100);
  font-family: var(--font-averia-libre);
}
.group-div2 {
  top: 903px;
  left: 5%;
  width: 90%;
}
.contact1,
.lets-connect {
  position: absolute;
  top: 0;
  left: 83px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.lets-connect {
  top: 58px;
  left: 0;
  font-size: var(--font-size-4xl);
  font-family: var(--font-dosis);
  color: var(--color-teal);
  font-weight: bolder;
}
.group-div4,
.line-icon1 {
  position: absolute;
  top: 23.5px;
  left: 5px;
  width: 67.12px;
  height: 1px;
}
.group-div4 {
  top: 0;
  left: 393px;
  width: 100%;
  height: 109px;
}
.chennai {
  position: absolute;
  top: 81px;
  left: 107px;
  font-weight: 300;
  display: inline-block;
}
.search-map-location-icon-1 {
  position: absolute;
  top: 18px;
  left: 149px;
  width: 40px;
  height: 47.19px;
  object-fit: cover;
}
.frame-div6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  width: 339px;
  height: 129px;
  font-size: var(--font-size-3xl);
}
.div {
  position: absolute;
  top: 79px;
  left: 94px;
  font-weight: 300;
  display: inline-block;
}
.ringing-phone-outline-icon-1 {
  position: absolute;
  top: 24px;
  left: 149px;
  width: 40px;
  height: 40.8px;
  object-fit: cover;
}
.frame-div7 {
  position: absolute;
  top: 158px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  width: 339px;
  height: 129px;
}
.afmul53gmailcom {
  position: absolute;
  top: 79px;
  left: 38px;
  font-weight: 300;
  display: inline-block;
}
.mail-checkmark-icon-1 {
  position: absolute;
  top: 36px;
  left: 149px;
  width: 40px;
  height: 29.06px;
  object-fit: cover;
}
.frame-div8 {
  position: absolute;
  top: 316px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  width: 339px;
  height: 129px;
}
.freelance-available {
  position: absolute;
  top: 77px;
  left: 40px;
  font-weight: 300;
  display: inline-block;
}
.complete-icon-1 {
  position: absolute;
  top: 25px;
  left: 149px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.frame-div9,
.group-section3 {
  position: absolute;
  left: 0;
  width: 339px;
}
.frame-div9 {
  top: 474px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  height: 129px;
}
.group-section3 {
  top: 166px;
  height: 603px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
  font-family: var(--font-prompt);
}
.your-name {
  position: absolute;
  top: 16px;
  left: 20px;
  display: inline-block;
}
.frame-div11,
.frame-div12,
.frame-div13 {
  background-color: var(--color-gray-400);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  width: 340px;
  height: 55px;
}
.frame-div11 {
  position: absolute;
  top: 44px;
  left: 27px;
  border-radius: var(--br-md);
  box-sizing: border-box;
  overflow: hidden;
}
.frame-div12,
.frame-div13 {
  top: 134px;
}
.frame-div12 {
  position: absolute;
  left: 27px;
  border-radius: var(--br-md);
  box-sizing: border-box;
  overflow: hidden;
}
.frame-div13 {
  left: 397px;
}
.frame-div13,
.frame-div14,
.frame-div15 {
  position: absolute;
  border-radius: var(--br-md);
  box-sizing: border-box;
  overflow: hidden;
}
.frame-div14 {
  top: 44px;
  left: 397px;
  background-color: var(--color-gray-400);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-400);
  width: 340px;
  height: 55px;
}
.frame-div15 {
  top: 240px;
  left: 35px;
  background-color: rgba(242, 242, 242, 0.53);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-600);
  width: 702px;
  height: 218px;
}
.send-message {
  position: absolute;
  top: 20px;
  left: 33px;
  display: inline-block;
  width: 146px;
  height: 8px;
}
.frame-div10,
.frame-div16 {
  position: absolute;
  overflow: hidden;
}
.frame-div16 {
  top: 506px;
  left: 274px;
  border-radius: 7px;
  background-color: var(--color-indigo-100);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  width: 195px;
  height: 61px;
  color: #e6e6e6;
}
.frame-div10 {
  top: 166px;
  left: 398px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-600);
  width: 763px;
  height: 600px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
  font-family: var(--font-averia-libre);
}
.group-div3,
.line-icon2 {
  position: absolute;
  top: 3000px;
  left: 71px;
  width: 80%;
  margin-left: 6.5%;
  height: 769px;
}
.line-icon2 {
  top: 118.5px;
  height: 3px;
}
.copyright-icon-1 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 3px;
  left: 38px;
  display: inline-block;
}
.line-div,
.line-div1 {
  position: absolute;
  top: 3.5px;
  left: 99.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 27.02px;
}
.line-div1 {
  left: 296.5px;
}
.malekulashtar2 {
  position: absolute;
  top: 0;
  left: 133px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-dosis);
  display: inline-block;
}
.span {
  font-family: var(--font-inter);
}
.malekulashtar3 {
  font-family: var(--font-averia-libre);
}
.designed-by-malekulashtar {
  position: absolute;
  top: 0;
  left: 324px;
  display: inline-block;
  font-family: var(--font-prompt);
}
.group-div5 {
  position: absolute;
  top: 141px;
  left: 0;
  width: 50%;
  margin-left: 30%;
  height: 30.02px;
}
.malekulashtar4 {
  position: absolute;
  top: 62px;
  left: 87px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.05em;
  font-family: var(--font-great-vibes);
  background: linear-gradient(180deg, #50a 21.67%, #3c87a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.black-instagram-1-icon,
.facebook-1-icon,
.whatsapp-1-icon {
  position: absolute;
  top: 66px;
  left: 1200px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.facebook-1-icon,
.whatsapp-1-icon {
  left: 1320px;
}
.whatsapp-1-icon {
  left: 1260px;
}
.frame-footer {
  position: absolute;
  top: 3950px;
  left: 0;
  background-color: var(--color-teal);
  width: 100%;
  height: 209px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-icon3{
  width: 90%;
  margin-left: 5%;
  margin-top: 8%;
}

.about-me,
.group-div8 {
  position: absolute;
  top: 0;
}
.about-me {
  left: 78px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.group-div8 {
  left: 0;
  width: 100%;
  height: 38px;
}
.i-build-and-design-digital-pro {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.05em;
  font-family: var(--font-dosis);
  color: var(--color-teal);
  display: inline-block;
  font-weight: bolder;
}
.giving-best-efforts-to-build-a1 {
  position: absolute;
  top: 211px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-prompt);
  color: var(--color-gray-700);
  display: inline-block;
}
.group-div7,
.underlined-check-line-icon-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 528px;
  height: 319px;
}
.underlined-check-line-icon-1 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.problem-solving {
  position: absolute;
  top: 1px;
  left: 50px;
  display: inline-block;
}
.group-div10 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 224px;
  height: 30px;
}
.high-quality {
  position: absolute;
  top: 1px;
  left: 50px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.group-div11,
.group-div12,
.group-div13 {
  position: absolute;
  top: 82px;
  left: 0;
  width: 225px;
  height: 30px;
}
.group-div12,
.group-div13 {
  top: 0;
  left: 274px;
  width: 225px;
}
.group-div13 {
  top: 82px;
  width: 209px;
}
.group-div9,
.group-section4 {
  position: absolute;
  top: 350px;
  left: 0;
  width: 500px;
  height: 112px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.group-section4 {
  top: 94px;
  width: 528px;
  height: 454px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-indigo-100);
  font-family: var(--font-averia-libre);
}
.vecteezy-design-web-interface-icon {
  position: absolute;
  top: 0;
  left: 560px;
  width: 650px;
  height: 630.91px;
  object-fit: cover;
}
.group-div6 {
  position: absolute;
  top: 2300px;
  left: 71px;
  width: 80%;
  margin-left: 5%;
  height: 610.91px;
}
.screencapture-ufb-tasiratradec-icon,
.screencapture-ufb-tasiratradec-icon1 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 40%;
  height: auto;
  object-fit: cover;
}
.screencapture-ufb-tasiratradec-icon1 {
  left: 550px;
  width: 40%;
}
.screencapture-ufb-tasiratradec-icon2 {
  position: absolute;
  top: -10px;
  left: 1000px;
  width: 40%;
  height: auto;
  object-fit: cover;
}
.group-div14 {
  position: absolute;
  top: 252px;
  left: 0;
  width: 100%;
  height: 400.28px;
}
.projects {
  position: absolute;
  top: 4px;
  left: 74px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.line-icon4 {
  position: absolute;
  top: 29.5px;
  left: 0;
  width: 67.12px;
  height: 1px;
}
.applications,
.here-are-some-of-my-projects-f {
  position: absolute;
  top: 56px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-prompt);
  color: var(--color-gray-300);
  display: inline-block;
}
.applications {
  top: 10px;
  left: 17px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  color: var(--color-gray-100);
  text-align: left;
}
.frame-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 310px;
  border-radius: var(--br-md);
  border-top: 1px solid var(--color-gray-100);
  border-right: 1px solid var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-100);
  border-left: 0 solid var(--color-gray-100);
  box-sizing: border-box;
  width: 152px;
  height: 48px;
  overflow: hidden;
}
.websites {
  position: absolute;
  top: 10px;
  left: 33px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-family: var(--font-prompt);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.frame-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 158px;
  border-radius: var(--br-md);
  border-top: 1px solid var(--color-gray-100);
  border-right: 0 solid var(--color-gray-100);
  border-bottom: 1px solid var(--color-gray-100);
  border-left: 0 solid var(--color-gray-100);
  box-sizing: border-box;
  width: 152px;
  height: 48px;
  overflow: hidden;
}
.all-works {
  position: absolute;
  top: 10px;
  left: 31px;
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  font-family: var(--font-prompt);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.frame-button3,
.frame-div18 {
  position: absolute;
  overflow: hidden;
}
.frame-button3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-100);
  padding: 0;
  background-color: transparent;
  top: 3px;
  left: 6px;
  border-radius: var(--br-md);
  box-sizing: border-box;
  width: 152px;
  height: 48px;
}
.frame-div18 {
  top: 0;
  left: 700px;
  width: 465px;
  height: 60px;
}
.frame-div17,
.group-div15 {
  position: absolute;
  top: 80px;
  left: 96px;
  width: 80%;
  height: 128px;
}

.group-div15{
  margin-left: 5%;
}
.frame-div17 {
  top: 1520px;
  left: 0;
  background-color: var(--color-teal);
  width: 100%;
  height: 721px;
  overflow: hidden;
  color: var(--color-white);
}
.macbook-air-1 {
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 4153px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-indigo-100);
  font-family: var(--font-averia-libre);
}

#web1,#web2{
  display:inline-block;
  width: 30%;
  margin-left: 50px!important;
  height: 385px;
  object-fit: cover;
  z-index: -1;
}


.overlay {
  position: relative;
  z-index: 2;
  margin-left: 17.5%;
  margin-top: 12%;
  width: 65%;
  height: 70%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.overlay1 {
  position: relative;
  z-index: 2;
  margin-left: 7.5%!important;
  margin-top: 12%;
  width: 65%;
  height: 70%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

#web1:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .5);
}

#web2:hover .overlay1 {
  display: block;
  background: rgba(0, 0, 0, .5);
}

.button {
  position: relative;
  padding-top: 30%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 5%;
  padding: 12px 15px;
  text-align: center;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  font-size: 24px;
  z-index: 1;
}

#web1:hover .button {
  opacity: 1;
  z-index: 5;
}

#web2:hover .button {
  opacity: 1;
  z-index: 5;
}

@media (max-width: 1024px) {
  .macbook-air-1{
    height: 3825px;
  }
  .malekulashtar1 {
    position: relative;
    top: 0;
    left: 0;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.05em;
    font-family: var(--font-great-vibes);
    color: #7400aa;
    text-align: left;
    width: 40%;
    float: left;
  }
  .group-div1 {
    position: relative;
    top: -10%;
    left: 0;
    right: 0;
    width: 60%;
    height: auto;
    float: left;
    display: flex;
    justify-content: space-around;
  }

  .group-div1 a{
    position: relative;
    top: 0;
    padding: 0;
    padding-left: 30px;
  }

  .about,
.home,
.services,
.work {
  position: relative;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: var(--font-prompt);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.about,
.services,
.work {
  left: 0;
}
.about,
.work {
  left: 0;
}
.about {
  left: 0;
}
.frame-div1 {
  position: relative;
  top: 5px;
  left: 0;
  width: 90px;
  height: 35px;
  display: inline-block;
}
.group-div1 #contact{
  top: 15%;
}
.contact {
  top: 8px;
  left: 15px;
  font-size: 16px;
  text-align: center;
  font-family: var(--font-junge);
  color: var(--color-white);
  display: inline-block;
}
.group-nav {
  position: relative;
  left: 5%;
  width: 90%;
}

.group-section {
  position: relative;
  top: 0;
  margin-top: 15%;
  left: 0;
  font-size: var(--font-size-base);
  float: left;
}
.hello-im,
.malekulashtar {
  top: 0;
  left: 0;
}
.malekulashtar {
  top: 20px;
  font-size: 64px;
  font-weight: 500;
}
.website-application-develope {
  top: 100px;
  left: 0;
  font-size: var(--font-size-xl);
}
.developing-applications-and-we {
  top: 170px;
  left: 0;
  font-size: 18px;
}
.frame-button {
  top: 255px;
  left: 0;
  width: 150px;
  height: 45px;
}
.get-in-touch {
  top: 8px;
  left: 18px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.undraw-programming-re-kg9v-1 {
  position: relative;
  top: 20%;
  left: 0;
  margin-left: 5%;
  float: left;
  width: 43%;
  height: 350.26px;
}
.group-section1 {
  top: 54px;
  left: 55%;
  width: 50%;
  height: 323px;
  font-size: var(--font-size-xl);
}
.group-section1 .about-me{
  left: 55px;
}
.group-section1 .line-icon{
  top: 15px;
}
.group-section2 {
  left: 0;
  width: 50%;
  font-size: var(--font-size-lg);
}
.designing-and-developing-websi,
.web-development {
  top: 11px;
  left: 15px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
  font-size: var(--font-size-sm);
}
.designing-and-developing-websi {
  top: 64px;  
  left: 10px;
  font-size: 14px;
  font-family: var(--font-dosis);
  letter-spacing: 0.1em;
  color: var(--color-gray-700);
  width: 95%;
}
.frame-div2 {
  top: -15px;
  left: 1px;
  width: 50%;
  height: 265px;
}
.digital-marketing {
  position: absolute;
  top: 11px;
  left: 15px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
  font-size: var(--font-size-sm);
  width: 100%;
}
.frame-div3 {
  top: 50px;
  left: 53%;
  width: 50%;
  height: 200px;
}
.graphic-design {
  position: absolute;
  top: 12px;
  left: 25px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
  font-size: var(--font-size-sm);
  width: 100%;
}
.frame-div4 {
  top: 274px;
  left: 0;
  width: 50%;
  height: 200px;
}
.app-development {
  position: absolute;
  top: 10px;
  left: 15px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
  font-size: var(--font-size-sm);
  width: 100%;
}
.frame-div5 {
  top: 274px;
  left: 53%;
  width: 50%;
  height: 260px;
}
.better-technology-better-growt {
  top: 40px;
  left: 0;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.giving-best-efforts-to-build-a {
  top: 175px;
  left: 0;
  letter-spacing: 0.04em;
  font-size: var(--font-size-base);
}
.group-div2 {
  top: 750px;
}
.group-div15 {
  top: 80px;
  left: 96px;
  width: 80%;
  height: 128px;
  margin-left: 20%;
}
.projects {
  top: 4px;
  left: 0;
  letter-spacing: 0.01em;
  display: inline-block;
}
.line-icon4 {
  position: absolute;
  top: 29.5px;
  left: 0;
  width: 67.12px;
  height: 1px;
}
.here-are-some-of-my-projects-f {
  font-size: var(--font-size-lg);
  top: 56px;
  left: 0;
}
.frame-div18 {
  top: 0;
  left: 53%;
  width: 50%;
  height: 60px;
}
.frame-div17,
.group-div15 {
  position: absolute;
  top: 80px;
  left: 0;
  height: 128px;
  width: 90%;
}
.group-div15{
  margin-left: 5%;
}
.frame-div17 {
  top: 1520px;
  left: 0;
  width: 100%;
  height: 625px;
}
.frame-button1 {
  width: 34%;
  left: 66%;
}
.frame-button2 {
  width: 33%;
  left: 34%;;
  height: 48px;
}
.frame-button3 {
  width: 33%;
  height: 48px;
}
.all-works {
  left: 17.5%;
}
.websites {
  left: 20%;
}
.applications {
  left: 7.5%;
}
.screencapture-ufb-tasiratradec-icon {
  width: 35%;
}
.screencapture-ufb-tasiratradec-icon1 {
  width: 35%;
  left: 35%;
}
.screencapture-ufb-tasiratradec-icon2 {
  width: 35%;
  left: 70%;
}

.group-div6 {
  top: 2125px;
  left: 0;
  width: 90%;
  margin-left: 5%;
  height: auto;
}
.group-section4 {
  width: 50%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-xl);
}
.vecteezy-design-web-interface-icon {
  left: 53%;
  margin-top: 15%;
  width: 50%;
  height: auto;
}
.group-div8 .line-icon {
  top: 15px;
}
.about-me {
  left: 55px;
  letter-spacing: 0.05em;
  display: inline-block;
}
.group-div8 {
  width: 100%;
  height: auto;
}
.i-build-and-design-digital-pro {
  font-size: var(--font-size-4xl);
  letter-spacing: 0.05em;
  font-weight: bolder;
}
.giving-best-efforts-to-build-a1 {
  top: 175px;
  font-size: var(--font-size-base);
}
.group-div7{
  width: 100%;
  height: auto;
}
.group-div9 {
  top: 300px;
  width: 100%;
  height: auto;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-div4 {
  left: 0;
  margin-left: 30%;
  width: 40%;
  height: auto;
}
.group-div3{
  top: 2750px;
  left: 0;
  width: 90%;
  margin-left: 5%;
  height: auto;
}
.group-section3 {
  width: 30%!important;
  height: auto;
  font-size: var(--font-size-2xl);
}
.frame-div10 {
  top:-15px;
  left: 0;
  width: 65%;
  margin-left: 35%;
  margin-top: 20%;
  border-radius: var(--br-md);
  overflow:visible;
  font-size: var(--font-size-lg);
}
.chennai {
  top: 0;
  left: 0;
  margin-left: 25%;
  margin-top: 27.5%;
  font-weight: 400;
  display: inline-block;
}
.search-map-location-icon-1 {
  position: absolute;
  top: 18px;
  left: 0;
  margin-left: 45%;
  width: 40px;
  height: 47.19px;
  object-fit: cover;
}
.frame-div6 {
  border-radius: var(--br-lg);
  width: 100%;
  height: 129px;
  font-size: var(--font-size-3xl);
}
.div {
  position: absolute;
  top: 79px;
  left: 0;
  margin-left: 20%;
  font-weight: 400;
  display: inline-block;
}
.ringing-phone-outline-icon-1 {
  position: absolute;
  top: 24px;
  left: 0;
  margin-left: 45%;
  width: 40px;
  height: 40.8px;
  object-fit: cover;
}
.frame-div7 {
  position: absolute;
  top: 158px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  width: 100%;
  height: 129px;
}
.afmul53gmailcom {
  position: absolute;
  top: 79px;
  left: 0;
  margin-left: 12.5%;
  font-weight: 400;
  display: inline-block;
  font-size: var(--font-size-lg);
}
.mail-checkmark-icon-1 {
  position: absolute;
  top: 36px;
  left: 0;
  margin-left: 45%;
  width: 40px;
  height: 29.06px;
  object-fit: cover;
}
.frame-div8 {
  position: absolute;
  top: 316px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  width: 100%;
  height: 129px;
}
.freelance-available {
  position: absolute;
  top: 77px;
  left: 0;
  margin-left: 15%;
  font-weight: 400;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.complete-icon-1 {
  position: absolute;
  top: 25px;
  left: 0;
  margin-left: 45%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.frame-div9 {
  position: absolute;
  left: 0;
  width: 100%;
}
.frame-div9 {
  top: 474px;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-600);
  height: 129px;
}
.frame-div10{
  top: 5px;
}

.frame-div11 {
  top: 44px;
  left: 2%;
  width: 46%;
}

.frame-div12 {
  left: 2%;
  width: 46%;
}
.frame-div13 {
  left: 52%;
  width: 46%;
}

.frame-div14 {
  top: 44px;
  left: 52%;
  width: 46%;
  height: 55px;
}

.frame-div15 {
  top: 240px;
  left: 2%;
  width: 96%;
}

.frame-div16 {
  top: 506px;
  left: 35%;
  border-radius: 7px;
  width: 30%;
  height: 61px;
}

.send-message{
  top:30%;
  left: 15%;
}

.frame-footer{
  top:3625px;
}
.line-icon3{
  margin-top: 9%;
}

.malekulashtar4{
  top: 18%;
  left: 75px;
}
.black-instagram-1-icon, .facebook-1-icon, .whatsapp-1-icon {
    top: 20%;
    left: 80%;
    width: 3%;
    height: auto;
}
.facebook-1-icon{
  left: 85%;
}
.whatsapp-1-icon{
  left: 90%;
}
.group-div5{
  top: 50%;
}

}


@media (max-width:500px) {
  .macbook-air-1 {
    height: auto;
  }
  .frame-div{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
        
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
  .group-div1{
    position: absolute;
    top: -5px;
    left: 65%;
    right: 0!important;
    width: 50%;
    float: right;
  }
  .fa{
    font-size: 25px!important;
  }
  .group-div1 a:not(:last-child) {display: none;}
  .group-div1 a.icon {
    float: right;
    display: block;
  }
  .group-div1.responsive {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    height: 90vh;
    border-radius: 10px;
    display: block;
  }
  .group-div1.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right!important;
  }
  .group-div1.responsive a:not(:last-child){
    position: relative;
    top: 8%;
     margin-left: 4%;
    width: 100%;
  }
  .group-div1.responsive .frame-div1{
    width: 60%;
    margin-left: 20%;
    float: left;
    text-align: center;
    height: 42px;
  }
  .group-div1.responsive .contact{
    text-align: center;
    font-size: 18px;
    top: 10px;
    left: 20px;
    margin-left: 20%;
  }
  
  .group-div1.responsive a:not(:last-child) div{
    font-size: 18px;
    margin-bottom: 25%;
    text-decoration: underline;
    color: white;
  }
  .group-div1.responsive a {
    display: block;
    width: 100%;
    color: white!important;
    padding-left: 0;
    text-align: center;
  }
  .group-nav{
    position: relative;
    top: 0;
    margin-top: 5%;
    height: 15%;
    z-index: 2;
  }
  .undraw-programming-re-kg9v-1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    z-index: 1;
  }
  .group-section{
    position: relative;
    width: 100%;
    top: 0;
    margin-top: 5%;
    height: 40%;
    left: 0;
    margin-left: 3%;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    z-index: 1;
  }
  .group-div{
    position: relative;
    top: 0;
    width: 90%;
    height: 80%;
  }
  .hello-im{
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
}
  .malekulashtar {
  position: relative;
  top: 0;
  margin-top: 0;
  font-size: 48px!important;
  font-weight: 500;
}
.website-application-develope { 
  position: relative;
  top: 0;
  margin-top: 2px;
  left: 0;
  font-size: var(--font-size-sm);
}
.developing-applications-and-we {
  position: relative;
  top: 0;
  margin-top: 3%;
  left: 0;
  height: auto;
  font-size: 14px;
}
.frame-button {
  position: relative;
  top: 0;
  margin-top: 5%;
  left: 0;
  display: inline-block;
  width: 94%;
  height: 18%;
}
.get-in-touch {
  top: 8px;
  left: 30%;
  font-size: var(--font-size-base);
  font-weight: 500;
}

.group-div2 {
  position: relative;
  top: 0;
  margin-top: 30px;
  width: 90%;
  height: auto;
}
.group-section1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-indigo-100);
  font-family: var(--font-averia-libre);
}
.about-me {
  left: 5px;
  letter-spacing: 0.05em;
}
.line-icon {
  position: relative;
  top: 80%;
  width: 15%;
  height: 45px;
}
.line-icon4{
  top: 24.5px;
}
.projects{
  margin-left: 20%;
}
.group-section1 .about-me{
  left: 0;
}
.better-technology-better-growt {
  position: relative;
  top: 10px;
  font-size: 46px;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.giving-best-efforts-to-build-a {
  position: relative;
  top: 0;
  margin-top: 10%;
  font-size: var(--font-size-sm);
}
.giving-best-efforts-to-build-a1 {
  font-size: var(--font-size-base);
}
.group-section2 {
  position: relative;
  top: 0;
  margin-top: 10%;
  left: 0;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-indigo-100);
  font-family: var(--font-averia-libre);
}
.frame-div2 {
  position: relative;
  top: 0;
  margin-top: 10%;
  left: 1px;
  border: 3px solid var(--color-white);
  width: 100%;
  height: 200px;
}
.web-development{
  position: relative;
  font-size: var(--font-size-xl);
}
.digital-marketing {
  position: relative;
  top: 11px;
  left: 25px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
}
.frame-div3 {
  position: relative;
  top: 0;
  margin-top: 5%;
  left: 1px;
  border-radius: var(--br-md);
  border: 3px dashed var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  overflow: hidden;
  color: var(--color-teal);
}
.graphic-design {
  position: relative;
  top: 12px;
  left: 35px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
}
.frame-div4 {
  position: relative;
  top: 0;
  margin-top: 5%;
  left: 0;
  border-radius: var(--br-md);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  color: var(--color-indigo-100);
  height: 200px;
}
.app-development {
  position: relative;
  top: 10px;
  left: 25px;
  letter-spacing: 0.05em;
  font-weight:bolder;
  display: inline-block;
}
.frame-div5 {
  position: relative;
  top: 0;
  margin-top: 5%;
  left: 0;
  border-radius: var(--br-md);
  border: 3px dashed var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  overflow: hidden;
  color: var(--color-teal);
}
.frame-div17 {
  position: relative;
  top: 0;
  margin-top: 15%;
  width: 100%;
  height: auto;
}
.group-div14,.group-div15{
  position: relative;
  top: 0;
  left: 0;
}
.group-div15{
  margin-top: 10%;
}
.here-are-some-of-my-projects-f{
  font-size: var(--font-size-base);
}
.website-application{
  display: inline;
}
.designer{
  display: inline-block;
}
.group-div14{
  margin-top: 0;
  height: auto;
}
.frame-div18{
  display: none;
}
#web1,#web2{
  width: 100%;
  margin-left: 0!important;
  height: auto;
  object-fit: cover;
  z-index: -1;
}
.overlay,.overlay1{
  display: none;
}
.screencapture-ufb-tasiratradec-icon,
.screencapture-ufb-tasiratradec-icon1 {
  position: relative;
  top: 10px;
  width: 100%;
}
.screencapture-ufb-tasiratradec-icon1 {
  position: relative;
  left: 0;
  top: 10px;
  width: 100%;
}
.screencapture-ufb-tasiratradec-icon2 {
  position: relative;
  left: 0;
  top: 10px;
  width: 120%;
}
.group-div6{
  position: relative;
  top: 0;
}
.group-div8{
  font-size: var(--font-size-xl);
}
.group-section4{
  position: relative;
  top: 0;
  margin-top: 15%;
  width: 100%;
}
.vecteezy-design-web-interface-icon{
  position: relative;
}
.group-div7,.group-div8,.group-div9{
  position: relative;
}
.group-div9{
  top: 0;
  margin-top: 10%;
}
.group-div10,.group-div11,.group-div12,.group-div13{
  position: relative;
  width: 40%;
  display: inline-block;
  top: 0;
  left: 0;
  font-size: 13px;
}
.group-div11{
  margin-left: 10%;
}
.group-div12,.group-div13{
  margin-top: 10%;
}
.group-div13{
  margin-left: 10%;
}
.problem-solving,.high-quality{
  position: relative;
  top: 0;
  left: 0;
  display: inline;
}
.underlined-check-line-icon-1{
  position: relative;
  display: inline;
  width: 13px;
  height: auto;
}
.i-build-and-design-digital-pro,.giving-best-efforts-to-build-a1,.about-me{
  position: relative;
  top: 0;
  margin-top: 5%;
}
.vecteezy-design-web-interface-icon{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.group-div4 {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  margin-left: 10%;
  margin-top: 20px;
  width: 100%;
}
.group-div3{
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: auto;
  margin-left: 5%;
}
.group-section3 {
  position: relative;
  top: 0;
  margin-top: 20px;
  width: 100%!important;
  height: auto;
  font-size: var(--font-size-2xl);
}
.frame-div10 {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  border-radius: var(--br-md);
  overflow:visible;
  font-size: var(--font-size-lg);
  height: 570px;
}
.contact1,.lets-connect{
  position: relative;
}
.contact1{
  left: 0;
}
.line-icon1{
  position: relative;
  top: 0;
  margin-bottom: 5px;
  margin-left: 10%;
  width: 40px;
  height: 2px;
}
.lets-connect{
  font-size: var(--font-size-3xl);
  margin-left: 10%;
  top: 0;
}
.frame-div11,.frame-div12,.frame-div13,.frame-div14{
  width: 90%;
  left: 0;
  height: 40px;
  border-radius: var(--br-sm);
  margin-left: 5%;
  font-size: 14px!important;
  padding: 8px!important;
}
.frame-div6,.frame-div7,.frame-div8,.frame-div9{
  position: relative;
  top: 0;
}
.frame-div11{
  top: 5%;
}
.frame-div12{
  top: 15%;
}
.frame-div13{
  top: 25%;
}
.frame-div14{
  top: 35%;
}
.frame-div15{
  top: 45%;
  width: 90%;
  left: 0;
  margin-left: 5%;
}
.frame-div16{
  width: 90%;
  left: 0;
  top: 500px;
  height: 45px;
  margin-left: 5%;
}
.send-message{
  left: 0;
  margin-left: 25%;
  top: 25%;
}
.chennai {
  margin-left: 20%;
  font-weight: 400;
  margin-top: 30.5%;
}
.search-map-location-icon-1 {
  top: 10px;
  width: 20px;
  height: 25.19px;
  margin-left: 45%;
}
.frame-div6 {
  top: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-600);
  width: 47.5%;
  height: 75px;
  font-size: var(--font-size-lg);
  float: left;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15%;
  margin-top: 30.5%;
  font-weight: 400;
  display: inline-block;
}
.ringing-phone-outline-icon-1 {
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: 45%;
  width: 20px;
  height: 20.8px;
  object-fit: cover;
}
.frame-div7 {
  position: relative;
  top: 0;
  left: 52.5%;
  border-radius: var(--br-md);
  font-size: var(--font-size-base);
  background-color: var(--color-gray-600);
  width: 47.5%;
  height: 75px;
}
.afmul53gmailcom {
  position: absolute;
  top: 0;
  left: 2px;
  font-weight: 500;
  margin-top: 30.5%;
  font-size: 13px;
  display: inline-block;
  margin-left: 3.5%;
}
.mail-checkmark-icon-1 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 25px;
  height: 20.06px;
  object-fit: cover;
  margin-left: 45%;
}
.frame-div8 {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 10px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-600);
  font-size: 14px;
  width: 47.5%;
  height: 75px;
  float: left;
}
.freelance-available {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  margin-top: 30.5%;
  margin-left: 6.5%;
  font-size: 13px;
  display: inline-block;
}
.complete-icon-1 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.frame-div9 {
  position: relative;
  left: 52.5%;
  top: 0;
  margin-top: 10px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-600);
  width: 47.5%;
  height: 75px;
}
.copyright-icon-1 {
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-left: 35%;
}
.div1 {
  position: absolute;
  top: 2px;
  left: 0;
  margin-left: 42%;
  display: inline-block;
  font-size: 14px;
}
.line-div,
.line-div1 {
  display: none;
}
.malekulashtar2 {
  display: none;
  width: 0;
}
.span {
  font-family: var(--font-inter);
}
.malekulashtar3 {
  font-family: var(--font-averia-libre);
}
.designed-by-malekulashtar {
  position: relative;
  top: 50%;
  left: 0;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  font-family: var(--font-prompt);
  font-size: var(--font-size-base);
  font-weight: 100;
  color: #EDEADE;
}
.group-div5 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
  height: 30.02px;
}
.malekulashtar4 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5%;
  margin-top: 10%;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.05em;
  font-family: var(--font-great-vibes);
  background: linear-gradient(180deg, #50a 21.67%, #3c87a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.black-instagram-1-icon,
.facebook-1-icon,
.whatsapp-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11.5%;
  margin-left: 65%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.facebook-1-icon,
.whatsapp-1-icon {
  left: 1320px;
}
.whatsapp-1-icon {
  left: 0;
  margin-left: 76.5%;
}
.facebook-1-icon{
  left: 0;
  margin-left: 85%;
}
.frame-footer {
  position: relative;
  top:0;
  left: 0;
  margin-top: 40px;
  background-color: var(--color-teal);
  width: 100%;
  height: 209px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-icon3{
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
}
}


